<a href="https://colab.research.google.com/github/danvasem/pytorch-ex/blob/master/Clase_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np

In [3]:
np.random.seed(0)

In [4]:
iris = load_iris()

In [6]:
df=pd.DataFrame(iris.data, columns=iris.feature_names)

In [9]:
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2   setosa
1                4.9               3.0  ...               0.2   setosa
2                4.7               3.2  ...               0.2   setosa
3                4.6               3.1  ...               0.2   setosa
4                5.0               3.6  ...               0.2   setosa

[5 rows x 5 columns]

In [8]:
df['species']=pd.Categorical.from_codes(iris.target, iris.target_names)

In [12]:
trainRandom = np.random.rand(len(df))<0.8

Para obtener el 80% de train

In [13]:
train=df[trainRandom]

Para obtener el 20% de Test

In [14]:
test=df[~trainRandom]

In [15]:
print('Numero obs en el set de entrenamiento =',len(train))

Numero obs en el set de entrenamiento = 123

In [16]:
print('Numero obs en el set de entrenamiento =',len(test))

Numero obs en el set de entrenamiento = 27

In [19]:
features=df.columns[:4]

In [20]:
features

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [21]:
df.species

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: category
Categories (3, object): [setosa, versicolor, virginica]

In [22]:
y=pd.factorize(train['species'])[0]
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [23]:
clf=RandomForestClassifier(n_jobs=2, random_state=0)

En la siguiente linea entrenamos el modelo

In [25]:
clf.fit(train[features], y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=2,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [26]:
clf.predict(test[features])

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2])

In [27]:
preds = iris.target_names[clf.predict(test[features])]

In [28]:
preds

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'virginica', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica'], dtype='<U10')

In [31]:
test['species'].head()

7     setosa
8     setosa
13    setosa
17    setosa
19    setosa
Name: species, dtype: category
Categories (3, object): [setosa, versicolor, virginica]

In [33]:
pd.crosstab(test['species'],preds,rownames=['Actual Species'], colnames=['Predicted Species'])

Predicted Species  setosa  versicolor  virginica
Actual Species
setosa                  8           0          0
versicolor              0           5          2
virginica               0           0         12

Para ver cual es el feature que mas peso tiene en la prediccion

In [34]:
list(zip(train[features],clf.feature_importances_))

[('sepal length (cm)', 0.0889479467793623),
 ('sepal width (cm)', 0.0234427551884027),
 ('petal length (cm)', 0.44105878808840404),
 ('petal width (cm)', 0.44655050994383105)]